/* 谭思良 */
/* 头部搜索 */
*{
    margin:0;
    padding:0;
}
ul,li,a{
    list-style: none;
    text-decoration: none;
}
#header_batten{
    /* height:120px;
    border:1px solid red; */
}
/* 头部搜索框 */
#header{
    width: 100%;
    max-width:640px; 
    height:auto; 
    /* opacity: 0.5; */
}

#header .header_row{
    margin:auto;
    line-height:40px;
    height:40px;
    border-bottom:1px solid #ddd;
}
#header_form {
    padding:0 10%;
    height:40px;
    position:relative;
}
#header .header_tp{
    height:30px;
    color:#c0bdbd;
    background:#E6E6E6;
    position:absolute;
    top:4px;
    right:10%;
    border-radius:0 25px 25px 0;
    outline: none;
}
#header .sousuo{
    width:75%;
    height:30px;
    line-height:30px;
    border-radius: 20px 0 0 20px;
    background:#E6E6E6;
    position:absolute;
    top:4px;
    /* opacity: 0.5; */
    outline:none;
}
/* 头部左侧图标 */
#header_left{
    position:absolute;
    left:3%;
    height:30px;
    line-height:30px;
    top:4px;
}
#header_right{
    position:absolute;
    right:3%;
    top:5px;
    height:30px;
    line-height:30px;
    color:rgb(117, 116, 116);
}
/* 右图标的下拉菜单 */
#header_right .header_right_ul{
    position:absolute;
    top:43px;
    z-index: 100;
    right:-2px;
    background:#000;
    width:125px;
    height:200px;
    border-radius: 8px;
    opacity:0.9;
    display:none;
}
#header_span{
    display:inline-block;
    position:absolute;
    top:-8px;
    right:8px;
    color:black;
}
.header_right_ul li{
    width:100%;
    height:40px;
    /* border:1px solid red; */
}
.header_right_ul li a{
    color:#fff;
    display:inline-block;
    height:39px;
    line-height:40px;
}
.header_right_ul li a:first-child{
    height:40px;
    width:40px;
    padding-left: 10px;
}
.header_right_ul li a:last-child{
    height:37px;
    width:85px;
    text-align:left;
    border-bottom:1px solid #ddd;
    display:inline-block;
}

/* 头部中间的位置 */
#header_top ,#header_div_bottom{
    width:100%;
    margin:auto;
}
#header_top #header_top_zh ,#header_div_bottom #div_bottom_ul{
    height:40px;
    line-height:40px;
    display:-webkit-box;
    display: flex;
}
#header_top_zh span ,#div_bottom_ul span{
    -webkit-box-flex:1;
    -webkit-flex:1;
    flex: 1;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align:center;
    border-bottom:1px solid #ddd;
}
.top_navigate{
    color:red;
}
/* 综合商品的下拉列表 */
#top_zh_ul{
    position:absolute;
    width:100%;
    top:120px;
    z-index: 99;
    display:none;
}
#top_zh_ul .zh_ul_li{
    height:30px;
    line-height:30px;
    font-size:14px; 
    color:black;
    background:white;
    padding:0 10px;
    opacity: 1;
}
#top_zh_ul .action{
    color:red;
    /* background:white; */
}
/* 头部的下方部分 */
#div_bottom_ul span a{
    background:#ddd;
    border-radius: 3px;
    color:#000;
    font-size:12px;
    padding:5px;
    text-decoration:none;
}
#div_bottom_ul span .bottom_a{
    border:1px solid red;
    color:red;
    background:#fff;
}


/* 内容 */
#content{
    max-width:640px; 
    margin:auto;
    /* height:1600px; */
    background:#d4d5d6;
    position:absolute;
    bottom:0;
    top:120px;
    overflow:auto;
}
.content_list_img{
    width:50%;
    height:100%;
    padding:0;
    margin:0;
    float:left;
}
.reco{
    margin-bottom:1%;
}
.content_list_p{
    padding:1%;
    height:100%;
}


.content_list_div1{
    color:#000;
    font-size:15px;
    line-height:20px;
    height:42px;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    word-break: break-word;
}
.content_list_label{
    height: 29px;
    margin: 0px;
    overflow: hidden;
    line-height: 29px;
}
.content_list_label span{
    display: block;
    float: left;
    height: 13px;
    line-height: 13px;
    background-color: #f0f2f5;
    border-radius: 2px;
    color: #686868;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    font-size: 10px;
    margin-top: 6px;
    margin-bottom: 10px;
}
.content_list_m{
    height: 20px;
    overflow: hidden;
    width: 100%;
    line-height: 20px;
    margin-right: 10px;
}
.content_list_m em {
    font-style: italic;
    font-weight: bold;
    color:red;
    font-size:25px;
}
.content_list_pl{
    color: #848689;
    font-size: 13px;
    display: -webkit-box;
    display: box;
    margin-top: 8px;
    overflow: hidden;
    height: 15px;
    line-height: 16px;
    -webkit-box-align: center;
    box-align: center;
}